{
  "swagger" : "2.0",
  "info" : {
    "version" : "v2",
    "title" : "PrintSmart REST API"
  },
  "host" : "api.printsmart.com",
  "basePath" : "/web/v1",
  "schemes" : [ "https" ],
  "security" : [ {
    "apiKeyHeader" : [ ],
    "oauth2" : [ ]
  } ],
  "paths" : {
    "/account/register" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Register a PrintSmart User.",
        "description" : "Registers the user with PrintSmart.",
        "operationId" : "register",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "userModel",
          "description" : "The user to register.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "BadRequest"
          }
        }
      }
    },
    "/account/change-password" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "change-password.",
        "operationId" : "password-change",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "value",
          "description" : "The password\r\n                                                                                           reset model.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ChangePasswordRequestModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          },
          "400" : {
            "description" : "BadRequest",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/account/forgot-password" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "forgot-password.",
        "operationId" : "forgot-password",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "description" : "The password\r\n                                                                                           reset model.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ForgotPasswordRequestModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          },
          "404" : {
            "description" : "NotFound",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/account/reset-password/{token}" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "reset-password.",
        "operationId" : "reset-password",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "description" : "The valid token to reset the password",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "request",
          "description" : "The password\r\n                                                                                           reset model.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ResetPasswordRequestModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          },
          "404" : {
            "description" : "NotFound",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/account/add-contact" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "contact-add",
        "operationId" : "contact-add",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "contact",
          "description" : "A ContactDto",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ContactDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StringResponse"
            }
          },
          "400" : {
            "description" : "BadRequest",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/account/update-contact" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "contact-update",
        "operationId" : "update-contact",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "contact",
          "description" : "Contact data.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ContactDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          },
          "400" : {
            "description" : "BadRequest",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/addresses/search/{address}" : {
      "get" : {
        "tags" : [ "Address" ],
        "summary" : "Search for address.",
        "operationId" : "address-search",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "address",
          "in" : "path",
          "description" : "String address to search",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AddressSearchResponse"
            }
          },
          "404" : {
            "description" : "NotFound",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          }
        }
      }
    },
    "/carts/{id}" : {
      "get" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-by-id",
        "description" : "(Restricted to Logged in users) gets the shopping result using the given identifier.",
        "operationId" : "cart-by-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The cart GUID.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ShopCartResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/customer/{id}" : {
      "get" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-by-customer-id",
        "operationId" : "cart-by-customer-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The customer id eg. SL12345.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ShopCartResponse"
            }
          },
          "400" : {
            "description" : "BadRequest",
            "schema" : {
              "$ref" : "#/definitions/ApiError"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{id}/items" : {
      "get" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-items-by-id",
        "description" : "",
        "operationId" : "cart-items-by-cart-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The shopping cart GUID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ShopCartItemCollectionResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/create" : {
      "post" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-create",
        "description" : "Creates a Shopping cart for a the current user.",
        "operationId" : "cart-create",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/StringResponse"
            }
          },
          "304" : {
            "description" : "NotModified"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{id}/delete" : {
      "delete" : {
        "tags" : [ "Carts" ],
        "summary" : "delete-cart",
        "description" : "Delete the cart",
        "operationId" : "cart-delete",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The cart GUID.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StringResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{id}/add" : {
      "post" : {
        "tags" : [ "Carts" ],
        "summary" : "add-cart-item",
        "description" : "Adds a ShopCart Item",
        "operationId" : "cart-add-item",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Shop Cart GUID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "model",
          "description" : "The item to add to the shopping cart.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShopCartItemDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/GuidResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{id}/update" : {
      "put" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-update-item",
        "description" : "",
        "operationId" : "cart-update-item",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "model",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShopCartItem"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/StringResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{cartId}/item/{itemId}" : {
      "delete" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-remove-item",
        "operationId" : "cart-remove-tem",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "The Cart GUID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "The Item GUID.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StringResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{id}/checkout" : {
      "post" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-checkout",
        "description" : "Checkout the cart by guid",
        "operationId" : "cart-checkout",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the cart to checkout.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "checkoutRequest",
          "description" : "The Payment Details of the Card.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CheckoutRequestModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CheckoutCartResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/carts/{id}/calculate" : {
      "post" : {
        "tags" : [ "Carts" ],
        "summary" : "cart-calculate",
        "description" : "",
        "operationId" : "cart-calculate",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The cart guid",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CheckoutResult"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/content/home" : {
      "get" : {
        "tags" : [ "Content" ],
        "summary" : "Gets the homepage Contentful item",
        "description" : "Larry Rivera, 8/21/2018.",
        "operationId" : "Content_GetHome",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ContentfulResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/customers" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "get-customers",
        "description" : "Get list of customers belonging to the caller Member Account",
        "operationId" : "get-customers",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaginatedCustomersResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/customers/{id}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "customer-by-id",
        "operationId" : "customer-by-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SL Account Number",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CustomerProfileResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      },
      "put" : {
        "tags" : [ "Customers" ],
        "summary" : "update-customer",
        "description" : "Puts the customer profile completing the sign-up process",
        "operationId" : "customer-update",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SL Account Number.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "value",
          "description" : "The user ProfileInfo",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerProfileModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      },
      "delete" : {
        "tags" : [ "Customers" ],
        "summary" : "delete-customer",
        "operationId" : "delete-customer",
        "consumes" : [ ],
        "produces" : [ ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/customers/{id}/payment-profiles" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "get-payment-profiles",
        "description" : "Gets authorize.net  customer payment profile.",
        "operationId" : "get-payment-profiles",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SL Account Number.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaymentProfileResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "add-payment-profile",
        "description" : "Larry Rivera, 4/9/2019.",
        "operationId" : "add-payment-profile",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SL Account Number.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "customerPaymentProfileRequest",
          "description" : "The customer.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddPaymentProfileRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CustomerPaymentProfile"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Customers" ],
        "summary" : "update-payment-profile",
        "description" : "Updates authorize.net  customer payment profile.",
        "operationId" : "update-payment-profiles",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SL Account Number.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "request",
          "description" : "Customer profile id and Customer payment profile id to update",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeletePaymentProfileRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaymentProfileResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      },
      "delete" : {
        "tags" : [ "Customers" ],
        "summary" : "payment-profile-delete",
        "description" : "Deletes the customer payment profile.",
        "operationId" : "payment-profile-delete",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SL Account Number.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "customer",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeletePaymentProfileRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/customers/email" : {
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "get-by-email",
        "description" : "Results filtered by MemberId Request",
        "operationId" : "get-by-email",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerByEmailRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CustomerResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/customers/{id}/orders" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "order-customer-id",
        "operationId" : "GetCustomerOrders",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Customer Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/InvoiceCollectionResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/customers/project-manager" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "project-manager",
        "description" : "",
        "operationId" : "project-manager-get",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AccountRepResponse"
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/customers/{id}/addresses" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "saved-addresses-get",
        "description" : "",
        "operationId" : "get-saved-addresses",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AddressCollectionResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "saved-address-add",
        "description" : "",
        "operationId" : "saved-address-add",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "address",
          "description" : "The address to save",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SaveAddressRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AddressResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/customers/{id}/addresses/{addressId}" : {
      "put" : {
        "tags" : [ "Customers" ],
        "summary" : "saved-address-update",
        "description" : "",
        "operationId" : "saved-address-update",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "addressId",
          "in" : "path",
          "description" : "The id of the saved address",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "address",
          "description" : "The address to save",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SaveAddressRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AddressResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customers" ],
        "summary" : "saved-address-delete",
        "description" : "",
        "operationId" : "saved-address-delete",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "addressId",
          "in" : "path",
          "description" : "The id of the saved address",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/members" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "members-get",
        "description" : "Get PrintSmart Members.",
        "operationId" : "members-get",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/MemberCollectionResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Members" ],
        "summary" : "members-add",
        "operationId" : "members-add",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "member",
          "description" : "The new member data.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddMemberRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/MemberResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      },
      "put" : {
        "tags" : [ "Members" ],
        "summary" : "member-update",
        "operationId" : "members-update",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "The member id to update.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "member",
          "description" : "The new member data.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AddMemberRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/MemberResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      },
      "delete" : {
        "tags" : [ "Members" ],
        "summary" : "members-delete",
        "operationId" : "members-delete",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "The member id to update.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/MemberResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/members/{id}" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "member-by-id",
        "description" : "PrintSmart Member by id.",
        "operationId" : "members-by-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The member id.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/MemberResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/members/{id}/merchantPublicKey" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "member-by-id",
        "description" : "PrintSmart Member by id.",
        "operationId" : "members-client-key",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The member id.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StringResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/orders/{customerId}/completed" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "orders-completed",
        "description" : "Get Completed Orders",
        "operationId" : "orders-completed",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/OrderHistoryResponse"
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/orders/{customerId}/open" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "orders-open",
        "description" : "Get Open Orders",
        "operationId" : "orders-open",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/OrderHistoryResponse"
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/orders/{customerId}/stop" : {
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "job-stop",
        "description" : "Stop an active customer job\r\n            Valid ReasonId are:\r\n            <c>\r\n             1 - Need To adjust quantity\r\n             2 - Change Coating Type\r\n             3 - Modify Turnaround\r\n             4 - Replace/Upload New Files\r\n            -1 - Other\r\n            </c>",
        "operationId" : "orders-job-stop",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "The customer id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "stopJobRequest",
          "description" : "Request to stop a job",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/StopJobRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/orders/{customerId}/upload-job-design" : {
      "patch" : {
        "tags" : [ "Orders" ],
        "summary" : "upload-job-design",
        "operationId" : "upload-job-design",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "the customer id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "designJobRequest",
          "in" : "body",
          "description" : "The request to update",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UploadJobDesignRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BooleanResponse"
            }
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/Orders" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Orders for the authenticated user",
        "description" : "Bearer token authenticated customer orders",
        "operationId" : "orders-get",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Invoice"
              }
            }
          },
          "204" : {
            "description" : "NoContent"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/Partner/MRM/refresh" : {
      "post" : {
        "tags" : [ "Partner" ],
        "summary" : "Refresh The Token used to access marko rubel.",
        "operationId" : "Token",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/Partner/MRM/contact/{id}" : {
      "get" : {
        "tags" : [ "Partner" ],
        "summary" : "Partner Contact",
        "description" : "MarkoRubel InfusionSoft contact data",
        "operationId" : "GetContact",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "MarkoRubel InfusionSoft Contact Id.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/Partner/MRM/contact/tag" : {
      "post" : {
        "tags" : [ "Partner" ],
        "summary" : "Tags MRM with Dynamic Tag.",
        "operationId" : "TagContact",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "info",
          "description" : "MRM Infusionsoft Contact/OrderInfo.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TagContactInfo"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CreateTagResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/products/{id}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Product Details and Charges",
        "operationId" : "product-by-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Product Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ProductResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/products/{id}/variation" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get Product Variation Data",
        "operationId" : "product-variation-by-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Product Id with a variation suffix",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ProductVariationResponse"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/shipping/{zipCode}/cart/{cartId}" : {
      "get" : {
        "tags" : [ "Shipping" ],
        "summary" : "Gives an delivery cart estimation using Fedex web services",
        "operationId" : "estimate-cart-shipping",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "cartId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "zipCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "BadRequest"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/shipping/{zipCode}" : {
      "post" : {
        "tags" : [ "Shipping" ],
        "summary" : "Estimate a item using the Fedex web services",
        "operationId" : "estimate-shipping",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "zipCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "item",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ShopCartItem"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "BadRequest"
          }
        },
        "security" : [ {
          "oauth2" : [ ]
        } ]
      }
    },
    "/workorder/{id}" : {
      "get" : {
        "tags" : [ "WorkOrders" ],
        "summary" : "Get a workorder by id",
        "operationId" : "workorder-by-id",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/WorkOrder"
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    },
    "/workorder/invoice/{id}" : {
      "get" : {
        "tags" : [ "WorkOrders" ],
        "summary" : "Get a list if workorders by invoice id",
        "operationId" : "workorder-by-invoice",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The invoice id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/WorkOrder"
              }
            }
          },
          "404" : {
            "description" : "NotFound"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKeyHeader" : {
      "type" : "apiKey",
      "name" : "Ocp-Apim-Subscription-Key",
      "in" : "header"
    },
    "oauth2" : {
      "description" : "client credentials grant flow",
      "type" : "oauth2",
      "tokenUrl" : "https://us-01-api.printsmart.com/token",
      "flow" : "password"
    }
  },
  "definitions" : {
    "UserModel" : {
      "type" : "object",
      "required" : [ "email", "firstName", "lastName", "password", "userName" ],
      "properties" : {
        "userName" : {
          "type" : "string",
          "description" : "Gets or sets the name of the user."
        },
        "email" : {
          "type" : "string",
          "description" : "Gets or sets the email."
        },
        "firstName" : {
          "type" : "string",
          "description" : "Gets or sets the person's first name."
        },
        "lastName" : {
          "type" : "string",
          "description" : "Gets or sets the person's last name."
        },
        "password" : {
          "type" : "string",
          "description" : "Gets or sets the password.",
          "minLength" : 6,
          "maxLength" : 100
        },
        "confirmPassword" : {
          "type" : "string",
          "description" : "Gets or sets the confirm password."
        }
      },
      "description" : "A data Model for the user."
    },
    "ChangePasswordRequestModel" : {
      "type" : "object",
      "required" : [ "confirmPassword", "password" ],
      "properties" : {
        "password" : {
          "type" : "string",
          "description" : "Gets or sets the request Password field.",
          "minLength" : 8,
          "maxLength" : 35
        },
        "confirmPassword" : {
          "type" : "string",
          "description" : "Gets or sets the ConfirmPassword field.",
          "minLength" : 8,
          "maxLength" : 35
        }
      },
      "description" : "Model for Password Reset Request"
    },
    "CancellationToken" : {
      "type" : "object",
      "properties" : {
        "isCancellationRequested" : {
          "type" : "boolean",
          "readOnly" : true
        },
        "canBeCanceled" : {
          "type" : "boolean",
          "readOnly" : true
        },
        "waitHandle" : {
          "readOnly" : true,
          "$ref" : "#/definitions/WaitHandle"
        }
      }
    },
    "WaitHandle" : {
      "type" : "object",
      "properties" : {
        "handle" : {
          "type" : "object",
          "properties" : { }
        },
        "safeWaitHandle" : {
          "$ref" : "#/definitions/SafeWaitHandle"
        }
      }
    },
    "SafeWaitHandle" : {
      "type" : "object",
      "properties" : {
        "isInvalid" : {
          "type" : "boolean",
          "readOnly" : true
        },
        "isClosed" : {
          "type" : "boolean",
          "readOnly" : true
        }
      }
    },
    "BooleanResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "boolean",
          "description" : "Gets or sets The payload of the response."
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a boolean"
    },
    "ApiError" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "description" : "The Data",
          "properties" : { }
        },
        "message" : {
          "type" : "string",
          "description" : "The Error Message"
        },
        "moreInfo" : {
          "type" : "string",
          "description" : "Extended Information about the error"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The Error Code"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the request"
        }
      },
      "description" : "Api Error Response"
    },
    "ForgotPasswordRequestModel" : {
      "type" : "object",
      "properties" : {
        "email" : {
          "type" : "string"
        }
      }
    },
    "ResetPasswordRequestModel" : {
      "type" : "object",
      "required" : [ "confirmPassword", "password" ],
      "properties" : {
        "password" : {
          "type" : "string",
          "minLength" : 8,
          "maxLength" : 35
        },
        "confirmPassword" : {
          "type" : "string",
          "minLength" : 8,
          "maxLength" : 35
        }
      }
    },
    "ContactDto" : {
      "type" : "object",
      "required" : [ "customerId", "email", "firstName", "lastName" ],
      "properties" : {
        "customerId" : {
          "type" : "string"
        },
        "contactId" : {
          "type" : "string"
        },
        "cellNo" : {
          "type" : "string"
        },
        "defaultContact" : {
          "type" : "integer",
          "format" : "int32"
        },
        "deliveryZip" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "fax" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "jobTitle" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "phoneExt" : {
          "type" : "string"
        },
        "prefix" : {
          "type" : "string"
        },
        "salutation" : {
          "type" : "string"
        },
        "slmnewsLetter" : {
          "type" : "integer",
          "format" : "int32"
        },
        "status" : {
          "type" : "string"
        },
        "suffix" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        }
      }
    },
    "StringResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "string",
          "description" : "Gets or sets The payload of the response."
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a string"
    },
    "AddressSearchResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/AddressSearchResult"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "Response for autocomplete search and Address validation"
    },
    "AddressSearchResult" : {
      "type" : "object",
      "properties" : {
        "location" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Location"
          }
        }
      }
    },
    "Location" : {
      "type" : "object",
      "properties" : {
        "address" : {
          "$ref" : "#/definitions/Address"
        },
        "geometry" : {
          "$ref" : "#/definitions/Geometry"
        },
        "totalUnitCount" : {
          "type" : "integer",
          "format" : "int64"
        },
        "ranges" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Range"
          }
        }
      }
    },
    "Address" : {
      "type" : "object",
      "properties" : {
        "formattedAddress" : {
          "type" : "string"
        },
        "mainAddressLine" : {
          "type" : "string"
        },
        "addressLastLine" : {
          "type" : "string"
        },
        "placeName" : {
          "type" : "string"
        },
        "areaName1" : {
          "type" : "string"
        },
        "areaName2" : {
          "type" : "string"
        },
        "areaName3" : {
          "type" : "string"
        },
        "areaName4" : {
          "type" : "string"
        },
        "postCode" : {
          "type" : "integer",
          "format" : "int64"
        },
        "postCodeExt" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "addressNumber" : {
          "type" : "integer",
          "format" : "int64"
        },
        "streetName" : {
          "type" : "string"
        },
        "unitType" : {
          "type" : "string"
        },
        "unitValue" : {
          "type" : "string"
        }
      }
    },
    "Geometry" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "coordinates" : {
          "type" : "array",
          "items" : {
            "type" : "number",
            "format" : "double"
          }
        }
      }
    },
    "Range" : {
      "type" : "object",
      "properties" : {
        "placeName" : {
          "type" : "string"
        },
        "units" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Unit"
          }
        }
      }
    },
    "Unit" : {
      "type" : "object",
      "properties" : {
        "unitInfo" : {
          "type" : "string"
        },
        "formattedUnitAddress" : {
          "type" : "string"
        }
      }
    },
    "ShopCartResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/ShopCart"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a ShopCart"
    },
    "ShopCart" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "open" : {
          "type" : "boolean"
        },
        "memberId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdOn" : {
          "type" : "string",
          "format" : "date-time"
        },
        "updatedOn" : {
          "type" : "string",
          "format" : "date-time"
        },
        "customerId" : {
          "type" : "string"
        },
        "contactId" : {
          "type" : "string"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        },
        "orderId" : {
          "type" : "string"
        },
        "total" : {
          "type" : "number",
          "format" : "double"
        },
        "tax" : {
          "type" : "number",
          "format" : "double"
        }
      }
    },
    "ShopCartItemCollectionResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/ShopCartItem"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a collection of ShopCartItem"
    },
    "ShopCartItem" : {
      "type" : "object",
      "properties" : {
        "sku" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string",
          "format" : "uuid",
          "example" : "00000000-0000-0000-0000-000000000000"
        },
        "itemId" : {
          "type" : "string",
          "format" : "uuid",
          "example" : "00000000-0000-0000-0000-000000000000"
        },
        "productId" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "chargeIds" : {
          "type" : "string"
        },
        "optionIds" : {
          "type" : "string"
        },
        "quantity" : {
          "type" : "integer",
          "format" : "int32"
        },
        "height" : {
          "type" : "number",
          "format" : "double"
        },
        "width" : {
          "type" : "number",
          "format" : "double"
        },
        "cost" : {
          "type" : "number",
          "format" : "double"
        },
        "turnaround" : {
          "type" : "string"
        },
        "proofs" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "hiRes" : {
          "type" : "string"
        },
        "stateId" : {
          "type" : "string"
        },
        "userId" : {
          "type" : "string"
        },
        "configurator" : {
          "$ref" : "#/definitions/ShopCartItemConfigurator"
        },
        "createdOn" : {
          "type" : "string",
          "format" : "date-time"
        },
        "updatedOn" : {
          "type" : "string",
          "format" : "date-time"
        },
        "isTaxable" : {
          "type" : "boolean"
        }
      }
    },
    "ShopCartItemConfigurator" : {
      "type" : "object",
      "properties" : {
        "chargeCategories" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ChargeCategory"
          }
        },
        "quantities" : {
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "turnarounds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "ChargeCategory" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "order" : {
          "type" : "integer",
          "format" : "int64"
        },
        "selectMode" : {
          "type" : "string",
          "enum" : [ "Single", "Multiple" ]
        },
        "required" : {
          "type" : "boolean"
        },
        "charges" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Charge"
          }
        }
      }
    },
    "Charge" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "categoryId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "rank" : {
          "type" : "integer",
          "format" : "int64"
        },
        "exclusions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "formulaData" : {
          "type" : "string"
        }
      }
    },
    "ShopCartItemDto" : {
      "type" : "object",
      "properties" : {
        "numberOfSets" : {
          "type" : "integer",
          "format" : "int32"
        },
        "cartItem" : {
          "$ref" : "#/definitions/ShopCartItem"
        }
      }
    },
    "GuidResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "string",
          "format" : "uuid",
          "example" : "00000000-0000-0000-0000-000000000000",
          "description" : "Gets or sets The payload of the response."
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a GUID"
    },
    "CheckoutRequestModel" : {
      "type" : "object",
      "properties" : {
        "customerPaymentProfileId" : {
          "type" : "string"
        },
        "cardCode" : {
          "type" : "string"
        },
        "nonceToken" : {
          "type" : "string"
        },
        "storePayment" : {
          "type" : "boolean"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "address" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "zipCode" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "billingSameAsShipping" : {
          "type" : "boolean"
        },
        "billingFirstName" : {
          "type" : "string"
        },
        "billingLastName" : {
          "type" : "string"
        },
        "billingAddress" : {
          "type" : "string"
        },
        "billingAddress2" : {
          "type" : "string"
        },
        "billingCity" : {
          "type" : "string"
        },
        "billingState" : {
          "type" : "string"
        },
        "billingZipCode" : {
          "type" : "string"
        },
        "sendEmails" : {
          "type" : "boolean"
        },
        "sendCatalog" : {
          "type" : "boolean"
        },
        "poNumber" : {
          "type" : "string"
        },
        "selfPickup" : {
          "type" : "boolean"
        }
      }
    },
    "CheckoutCartResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/CheckoutResult"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A checkout cart response."
    },
    "CheckoutResult" : {
      "type" : "object",
      "properties" : {
        "success" : {
          "type" : "boolean"
        },
        "transactionId" : {
          "type" : "string"
        },
        "invoiceId" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        }
      }
    },
    "CartCalculationResult" : {
      "type" : "object",
      "properties" : {
        "subtotal" : {
          "type" : "number",
          "format" : "double",
          "description" : "Gets or sets the subtotal."
        },
        "tax" : {
          "type" : "number",
          "format" : "double",
          "description" : "Gets or sets the tax."
        },
        "total" : {
          "type" : "number",
          "format" : "double",
          "description" : "Gets or sets the number of."
        }
      },
      "description" : "Encapsulates the result of a cart calculation."
    },
    "ContentfulResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/ContentPageModel"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A ContenfulPageModel API Response"
    },
    "ContentPageModel" : {
      "type" : "object",
      "properties" : {
        "carousel" : {
          "type" : "string",
          "description" : "The Carousel Element"
        },
        "grid" : {
          "type" : "array",
          "description" : "The Grid Elements",
          "items" : {
            "type" : "string"
          }
        }
      },
      "description" : "Model for a Contentful ContentPage"
    },
    "PaginatedCustomersResponse" : {
      "type" : "object",
      "properties" : {
        "pagination" : {
          "description" : "Gets or sets the pagination of the results.",
          "$ref" : "#/definitions/Pagination"
        },
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/CustomerViewModel"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A paginated CustomerViewModel Response"
    },
    "Pagination" : {
      "type" : "object",
      "properties" : {
        "page" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Gets or sets the page of date to get based on the page size."
        },
        "pageSize" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Gets or sets The number of rows to return per request."
        },
        "total" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Gets or sets the total number of rows available."
        }
      },
      "description" : "Api Results Pagination"
    },
    "CustomerViewModel" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "string",
          "description" : "The SL Account Number"
        },
        "contactId" : {
          "type" : "string",
          "description" : "The CT Default Account Contact Number"
        },
        "companyName" : {
          "type" : "string",
          "description" : "Company Name"
        },
        "firstName" : {
          "type" : "string",
          "description" : "The First Name of the Account Default Contact"
        },
        "lastName" : {
          "type" : "string",
          "description" : "The First Name of the Account Default Contact"
        },
        "phone" : {
          "type" : "string",
          "description" : "The Phone of the Account Default Contact"
        },
        "mobilePhone" : {
          "type" : "string",
          "description" : "The Mobile Phone of the Account Default Contact"
        },
        "email" : {
          "type" : "string",
          "description" : "The Email Phone of the Account Default Contact"
        },
        "address" : {
          "type" : "string",
          "description" : "The address of the company"
        },
        "address2" : {
          "type" : "string",
          "description" : "Address 2nd Line"
        },
        "city" : {
          "type" : "string",
          "description" : "City"
        },
        "state" : {
          "type" : "string",
          "description" : "State Code"
        },
        "zipCode" : {
          "type" : "string",
          "description" : "The Zipcode"
        },
        "country" : {
          "type" : "string",
          "description" : "The Country Code"
        },
        "loginId" : {
          "type" : "string",
          "description" : "Login ID is email field"
        },
        "status" : {
          "type" : "boolean",
          "description" : "Success of the Account"
        },
        "customerProfileId" : {
          "type" : "string",
          "description" : "Gets or sets the customer profile."
        }
      },
      "description" : "Smartlevels Customer View Model"
    },
    "CustomerProfileResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/CustomerViewModel"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A customer profile response."
    },
    "CustomerProfileModel" : {
      "type" : "object",
      "properties" : {
        "company" : {
          "type" : "string",
          "description" : "The Customer Company"
        },
        "address1" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "zip" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "countryCode" : {
          "type" : "string"
        },
        "businessTypeId" : {
          "type" : "string"
        },
        "leadSourceId" : {
          "type" : "string"
        },
        "doNotSolicit" : {
          "type" : "boolean"
        }
      },
      "description" : "CustomerProfileModel"
    },
    "AddPaymentProfileRequest" : {
      "type" : "object",
      "properties" : {
        "customerProfileId" : {
          "type" : "string",
          "description" : "Gets or sets the identifier of the customer profile."
        },
        "nonceToken" : {
          "type" : "string",
          "description" : "Gets or sets the nonce."
        },
        "email" : {
          "type" : "string",
          "description" : "Gets or sets the email."
        },
        "defaultPaymentMethod" : {
          "type" : "boolean",
          "description" : "Gets or sets the default payment method."
        }
      },
      "description" : "An add payment profile request."
    },
    "CustomerPaymentProfile" : {
      "type" : "object",
      "properties" : {
        "paymentProfileId" : {
          "type" : "string"
        },
        "customerProfileId" : {
          "type" : "string"
        },
        "defaultPaymentProfile" : {
          "type" : "boolean"
        },
        "payment" : {
          "$ref" : "#/definitions/MaskedPayment"
        }
      }
    },
    "MaskedPayment" : {
      "type" : "object",
      "properties" : {
        "cardNumber" : {
          "type" : "string"
        },
        "cardType" : {
          "type" : "string"
        },
        "isPaymentToken" : {
          "type" : "boolean"
        },
        "isPaymentTokenSpecified" : {
          "type" : "boolean"
        },
        "expirationDate" : {
          "type" : "string"
        }
      }
    },
    "DeletePaymentProfileRequest" : {
      "type" : "object",
      "properties" : {
        "customerProfileId" : {
          "type" : "string",
          "description" : "Gets or sets the identifier of the customer profile."
        },
        "customerPaymentProfileId" : {
          "type" : "string",
          "description" : "Gets or sets the identifier of the customer payment profile."
        }
      },
      "description" : "A delete payment profile request."
    },
    "PaymentProfileResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/CustomerPaymentProfile"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A payment profile response."
    },
    "CustomerByEmailRequest" : {
      "type" : "object",
      "required" : [ "email" ],
      "properties" : {
        "email" : {
          "type" : "string",
          "description" : "Gets or sets Email field to search by."
        }
      },
      "description" : "Search for customer by email request object"
    },
    "CustomerResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/CustomerDto"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A CustomerDto API Response"
    },
    "CustomerDto" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "string"
        },
        "contactId" : {
          "type" : "string"
        },
        "companyName" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "loginId" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "mobilePhone" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "address" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "zipCode" : {
          "type" : "string"
        },
        "status" : {
          "type" : "boolean"
        },
        "memberId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "customerProfileId" : {
          "type" : "string"
        }
      }
    },
    "InvoiceCollectionResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/Invoice"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A Collection of Invoice API Response"
    },
    "Invoice" : {
      "type" : "object",
      "properties" : {
        "allowReorder" : {
          "type" : "boolean"
        },
        "amtDue" : {
          "type" : "number",
          "format" : "double"
        },
        "blindShipment" : {
          "type" : "boolean"
        },
        "closeOut" : {
          "type" : "boolean"
        },
        "createdBy" : {
          "type" : "string"
        },
        "createdOn" : {
          "type" : "string",
          "format" : "date-time"
        },
        "custId" : {
          "type" : "string"
        },
        "dueDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "firmWantFlag" : {
          "type" : "boolean"
        },
        "invoiceContactId" : {
          "type" : "string"
        },
        "invoiceId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "noOfJobs" : {
          "type" : "integer",
          "format" : "int32"
        },
        "notified" : {
          "type" : "boolean"
        },
        "orderId" : {
          "type" : "string"
        },
        "paymentsCloseOut" : {
          "type" : "boolean"
        },
        "ponumber" : {
          "type" : "string"
        },
        "released" : {
          "type" : "string"
        },
        "remarks" : {
          "type" : "string"
        },
        "resources" : {
          "type" : "string"
        },
        "salesTaxAmt" : {
          "type" : "number",
          "format" : "double"
        },
        "sendProductCatalog" : {
          "type" : "boolean"
        },
        "shippingNotes" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        },
        "subTotal" : {
          "type" : "number",
          "format" : "double"
        },
        "takenById" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "updatedOn" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "AccountRepResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/AccountRep"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An AccountRep API Response"
    },
    "AccountRep" : {
      "type" : "object",
      "properties" : {
        "accountManager" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "photoId" : {
          "type" : "string"
        }
      }
    },
    "AddressCollectionResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/AddressDto"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A Collection of AddressDto API Response"
    },
    "AddressDto" : {
      "type" : "object",
      "properties" : {
        "address1" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "company" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "defaultAddress" : {
          "type" : "boolean"
        },
        "email" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lastName" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "phoneExt" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "zipcode" : {
          "type" : "string"
        }
      }
    },
    "SaveAddressRequest" : {
      "type" : "object",
      "required" : [ "country" ],
      "properties" : {
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "company" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "zipCode" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "phoneExt" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "defaultAddress" : {
          "type" : "boolean"
        }
      }
    },
    "AddressResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/AddressDto"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An Address API Response"
    },
    "MemberCollectionResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/Member"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a collection of Members"
    },
    "Member" : {
      "type" : "object",
      "properties" : {
        "email" : {
          "type" : "string"
        },
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "merchantKey" : {
          "type" : "string"
        },
        "merchantLogin" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "specialPriceId" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        }
      }
    },
    "AddMemberRequest" : {
      "type" : "object",
      "required" : [ "email", "merchantKey", "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Gets or sets Member Name."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets Member Success Y or N."
        },
        "specialPriceId" : {
          "type" : "string",
          "description" : "Gets or sets Special Price Id."
        },
        "merchantLogin" : {
          "type" : "string",
          "description" : "Gets or sets Merchant Login."
        },
        "merchantKey" : {
          "type" : "string",
          "description" : "Gets or sets Merchant Key."
        },
        "email" : {
          "type" : "string",
          "description" : "Gets or sets Email."
        }
      },
      "description" : "Add Member Request Model"
    },
    "MemberResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/Member"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "An API response yielding a Member"
    },
    "OrderHistoryResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "description" : "Gets or sets The payload of the response.",
          "items" : {
            "$ref" : "#/definitions/OrderHistoryViewModel"
          }
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
          "description" : "Gets or sets status of the API response."
        }
      },
      "description" : "A List of Completed OrderHistoryViewModel"
    },
    "OrderHistoryViewModel" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "number" : {
          "type" : "string"
        },
        "created" : {
          "type" : "integer",
          "format" : "int64"
        },
        "poNumber" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        },
        "hasShipping" : {
          "type" : "boolean"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Item"
          }
        }
      }
    },
    "Item" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "name" : {
          "type" : "string"
        },
        "size" : {
          "type" : "string"
        },
        "productCode" : {
          "type" : "string"
        },
        "productName" : {
          "type" : "string"
        },
        "thumbnail" : {
          "type" : "string"
        },
        "tracking" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Tracking"
          }
        },
        "qty" : {
          "type" : "integer",
          "format" : "int64"
        },
        "status" : {
          "type" : "string"
        },
        "isStoppable" : {
          "type" : "boolean"
        }
      }
    },
    "Tracking" : {
      "type" : "object",
      "properties" : {
        "trackingNo" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        }
      }
    },
    "StopJobRequest" : {
      "type" : "object",
      "properties" : {
        "jobId" : {
          "type" : "string"
        },
        "reasonId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "reasonText" : {
          "type" : "string"
        }
      }
    },
    "UploadJobDesignRequest" : {
      "type" : "object",
      "properties" : {
        "jobId" : {
          "type" : "string"
        },
        "filePath" : {
          "type" : "string"
        }
      }
    },
    "MRMUser" : {
      "type" : "object",
      "properties" : {
        "emailAddresses" : {
          "type" : "array",
          "description" : "Gets or sets the email addresses.",
          "items" : {
            "$ref" : "#/definitions/MRMEmailAddress"
          }
        },
        "emailOptedIn" : {
          "type" : "boolean",
          "description" : "Gets or sets a value indicating whether the email opted in."
        },
        "addresses" : {
          "type" : "array",
          "description" : "Gets or sets the addresses.",
          "items" : {
            "$ref" : "#/definitions/MRMAddress"
          }
        },
        "lastUpdated" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Gets or sets the Date/Time of the last updated."
        },
        "tagIds" : {
          "type" : "array",
          "description" : "Gets or sets a list of identifiers of the tags.",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "ownerId" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Gets or sets the identifier that owns this item."
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Gets or sets the Date/Time of the date created."
        },
        "middleName" : {
          "type" : "string",
          "description" : "Gets or sets the person's middle name."
        },
        "givenName" : {
          "type" : "string",
          "description" : "Gets or sets the name of the given."
        },
        "emailStatus" : {
          "type" : "string",
          "description" : "Gets or sets the email status."
        },
        "phoneNumbers" : {
          "type" : "array",
          "description" : "Gets or sets the phone numbers.",
          "items" : {
            "$ref" : "#/definitions/MRMPhoneNumber"
          }
        },
        "company" : {
          "type" : "string",
          "description" : "Gets or sets the company."
        },
        "id" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Gets or sets the identifier."
        },
        "familyName" : {
          "type" : "string",
          "description" : "Gets or sets the name of the family."
        }
      },
      "description" : "A MarkoRubel Marketing Infusionsoft user."
    },
    "MRMEmailAddress" : {
      "type" : "object",
      "properties" : {
        "email" : {
          "type" : "string",
          "description" : "Gets or sets the email."
        },
        "field" : {
          "type" : "string",
          "description" : "Gets or sets the field."
        }
      },
      "description" : "A mrm email address."
    },
    "MRMAddress" : {
      "type" : "object",
      "properties" : {
        "line1" : {
          "type" : "string",
          "description" : "Gets or sets the line 1."
        },
        "line2" : {
          "type" : "string",
          "description" : "Gets or sets the line 2."
        },
        "locality" : {
          "type" : "string",
          "description" : "Gets or sets the locality."
        },
        "region" : {
          "type" : "string",
          "description" : "Gets or sets the region."
        },
        "field" : {
          "type" : "string",
          "description" : "Gets or sets the field."
        },
        "postalCode" : {
          "type" : "string",
          "description" : "Gets or sets the postal code."
        },
        "zipCode" : {
          "type" : "string",
          "description" : "Gets or sets the zip code."
        },
        "zipFour" : {
          "type" : "string",
          "description" : "Gets or sets the zip four."
        },
        "countyCode" : {
          "type" : "string",
          "description" : "Gets or sets the county code."
        }
      },
      "description" : "A mrm address."
    },
    "MRMPhoneNumber" : {
      "type" : "object",
      "properties" : {
        "number" : {
          "type" : "string",
          "description" : "Gets or sets the number of."
        },
        "extension" : {
          "type" : "string",
          "description" : "Gets or sets the extension."
        },
        "field" : {
          "type" : "string",
          "description" : "Gets or sets the field."
        },
        "type" : {
          "type" : "string",
          "description" : "Gets or sets the type."
        }
      },
      "description" : "A mrm phone number."
    },
    "TagContactInfo" : {
      "type" : "object",
      "properties" : {
        "contactId" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The infusionsoft contact id"
        },
        "orderNumber" : {
          "type" : "string",
          "description" : "The PrintSmart Order Number"
        },
        "productName" : {
          "type" : "string",
          "description" : "The MarkoRubel Product Name"
        }
      },
      "description" : "The Infusionsoft Contact to Tag with Dynamic Tag"
    },
    "CreateTagResponse" : {
      "type" : "object",
      "properties" : {
        "category" : {
          "description" : "Tag Category for the tag",
          "$ref" : "#/definitions/TagCategory"
        },
        "description" : {
          "type" : "string",
          "description" : "Tag description"
        },
        "id" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The tag ID"
        },
        "name" : {
          "type" : "string",
          "description" : "Tag Name"
        }
      },
      "description" : "InfusionSoft Create Tag Response"
    },
    "TagCategory" : {
      "type" : "object",
      "properties" : {
        "description" : {
          "type" : "string",
          "description" : "Tag description"
        },
        "id" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The tag ID"
        },
        "name" : {
          "type" : "string",
          "description" : "Tag Name"
        }
      },
      "description" : "InfusionSoft tag category"
    },
    "ProductResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "description" : "Gets or sets The payload of the response.",
          "$ref" : "#/definitions/ProductViewModel"
        },
        "message" : {
          "type" : "string",
          "description" : "Gets or sets Message of the response, maybe be empty."
        },
        "status" : {
          "type" : "string",
[...]
